.MicroApp {
    box-sizing: border-box;
    margin: auto;
    margin-top:10px;
    padding: 30px;
    width: 95%;
    font-family: sans-serif;
    text-align: center;
    color:brown
}

.MicroApp input {
  height: 32px;
  border-radius: 8px;
  border: 2px solid gray;
  width: 350px;
  padding-left: 10px;
  padding-right: 10px;
}

.item{
  box-sizing: border-box;
    margin: auto;
    width: 95%;
    font-family: sans-serif;
    text-align: center;
    color:brown;

}
.item input{
  margin-top: 30px;
  margin-bottom: 30px;

}
.item button{
  margin-right: 10px;
  margin-left: 10px;
}