.App {
    font-family: sans-serif;
    text-align: center;
}
.first{
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 10px;
    padding: 30px;
    width: 95%;
    border: 2px solid black;
    border-radius: 12px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(157, 157, 157);
    background-color: black;
}